.bg {
    background-color: rgb(46, 16, 101) !important;
    height: 90vh;
}

.back {
    background-image: url("../imgs/gallery.jpg") !important;
    background-color: rgb(46, 16, 101) !important;
    z-index: 4 !important;
    background-size: cover;
    width: 100%;
}

.btn {
    width: 250px;
    height: 60px;
    border: none;
    border-radius: 25px;
}

.btn:hover {
    box-shadow: 0 0 20px 10px orange;
}

.threeBtn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 0.3s;
}

.threeBtn:hover {
    transition: 0.3s;
    background-color: rgb(46, 16, 101);
    border-color: rgb(46, 16, 101);
}